extends layout

block content
  h1= title
  p Welcome to #{title}
  

  // If
  if showMe.show
    h2 SHOW

  // Each
  ul 
  each val, index in {1:'one',2:'two',3:'three'}
    li= index + ': ' + val
